/* grid example */
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr;
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'footer footer footer';
}
/*flexbox example*/
#navbar {
  display: flex;
  flex-direction: row wrap; /*shorthand example*/
  background-color: palegoldenrod;
  justify-content: center;
}
/* pseudo class */
.link:hover {
  color: orangered;
}

h2:hover {
  color: blue;
}

img {
  /* float: left; */
  display: inline-block;
}

.sidebar {
  background-color: darkgoldenrod;
  font-size: 0.8rem;
  color: navy;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: dodgerblue;
  color: navy;
  padding: 20px;
  grid-area: header;
}
/* background pic */
#background {
  padding: 300px;
  margin: 100px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/8f/95/ca/8f95ca45924befb768c145f86cad1351.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  font-family: franklin gothic medium;
  font: oblique;
  font: white;
}

#background p {
  font: white;
}
.main {
  grid-area: main;
  padding: 20px;
  line-height: 1.7;
}

.footer {
  background-color: navy;
  grid-area: footer;
  color: #999;
  padding: 15px;
  align-self: end;
}
